#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_MAIN DIALOG 0, 0, 250, 245
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Moon lander"
FONT 8, "Ms Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Exit", IDC_EXIT, 101, 223, 50, 14
    CONTROL         "", IDC_THRUST, PROGRESS_CLASS, PBS_SMOOTH | PBS_VERTICAL, 25, 31, 25, 85
    CONTROL         "", IDC_FUEL, PROGRESS_CLASS, PBS_SMOOTH, 142, 94, 88, 21
    PUSHBUTTON      "+", IDC_THRUSTUP, 63, 33, 51, 23
    PUSHBUTTON      "-", IDC_THRUSTDOWN, 63, 92, 51, 23
    LTEXT           "Fuel:", IDC_STATIC, 143, 80, 16, 8, SS_LEFT
    EDITTEXT        IDC_ELAPSED, 144, 57, 41, 18, ES_AUTOHSCROLL
    LTEXT           "seconds", IDC_STATIC, 189, 61, 28, 8, SS_LEFT
    LTEXT           "Mission Elapsed Time:", IDC_STATIC, 144, 43, 71, 8, SS_LEFT
    GROUPBOX        "Lander thrust", IDC_STATIC, 14, 16, 114, 113
    EDITTEXT        IDC_ALTITUDE, 15, 167, 51, 18, ES_AUTOHSCROLL
    LTEXT           "Altitude:", IDC_STATIC, 16, 154, 26, 8, SS_LEFT
    LTEXT           "m", IDC_STATIC, 70, 171, 8, 8, SS_LEFT
    LTEXT           "Vertical speed:", IDC_STATIC, 92, 154, 80, 8, SS_LEFT
    EDITTEXT        IDC_VERTSPEED, 91, 167, 51, 18, ES_AUTOHSCROLL
    LTEXT           "m/s", IDC_STATIC, 146, 171, 13, 8, SS_LEFT
    LTEXT           "Contact light:", IDC_STATIC, 178, 154, 42, 8, SS_LEFT
    DEFPUSHBUTTON   "Begin", IDC_BEGIN, 155, 11, 74, 20
    GROUPBOX        "Mission data", IDC_STATIC, 7, 140, 234, 55
    DEFPUSHBUTTON   "Reset", IDC_RESET, 69, 203, 50, 14
    DEFPUSHBUTTON   "About", IDC_ABOUT, 131, 203, 50, 14
    CONTROL         "", IDC_CONTACTLIGHT, PROGRESS_CLASS, WS_BORDER | PBS_SMOOTH, 169, 167, 57, 18
    PUSHBUTTON      "Autoland", IDC_AUTOPILOT, 69, 64, 39, 20
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SCOREPAGE DIALOG 0, 0, 215, 100
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION "Result"
FONT 8, "Ms Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK", IDC_SCOREOK, 84, 78, 50, 14
    LTEXT           "Congratulations, you landed safely! Welcome to the Moon!", IDC_STATIC, 16, 15, 184, 8, SS_LEFT
    EDITTEXT        IDC_SCORE, 84, 46, 49, 15, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX        "Score", IDC_STATIC, 72, 35, 74, 33
END

IDW_GONOGO  	 WAVE		"goforlanding.wav"
IDW_LANDED       WAVE       "landed.wav"
IDW_60SECS       WAVE       "60secs.wav"
IDW_RANDOM       WAVE       "random.wav"
IDW_4FORWARD     WAVE       "4forward.wav"
IDW_BEEP         WAVE       "beep.wav"
IDW_CRASH        WAVE       "crash.wav"
IDW_APON         WAVE       "hoveron.wav"
IDW_APOFF        WAVE       "hoveroff.wav"